.carouselImage {
  height: 50%;
  object-fit: cover;
}

.carouselItem {
  max-height: 90vh;
}

.carouselText {
  color: black;
}

.detailsLinks {
  padding: 0.5rem 1rem;
  height: 50px;
  background-color: gray;

  a {  
    color: white;
  }
}

.socialDetails {
  background: gray;
  bottom: 0;
  position: fixed;
}

.description {
  padding: 2rem;
}

.contactIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}