.petCard {
  height: 50vh;
  align-items: center;
}


.cardTitle {
  font-size: 1.5rem;
  margin: 0;
}

.imageCard {
  width: 100%;
  height: 75%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  height: 100%;
}

.image::before {
  content: ' ';
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #121416 url(../images/petImage.png) no-repeat center 35%/ 40% ;
}

@media only screen and (min-width: 600px) {
  .imageCard {
    height: 85%;
  }
}